<a id="github-link" class="icon" title="Github {{ site.author.name }}" aria-label="Github {{ site.author.name }}" 
	href="https://github.com/{{ site.author.github_username }}">{% include svg/github.svg %}</a>
<a id="github-link" class="icon" title="Stackoverflow {{ site.author.name }}" aria-label="Stackoverflow profile {{ site.author.name }}" 
	href="{{ site.author.stackoverflow_url }}">{% include svg/stackoverflow.svg %}</a>
<a id="github-link" class="icon" title="Twitter {{ site.author.name }}" aria-label="Twitter {{ site.author.name }}" 
	href="https://twitter.com/{{ site.author.twitter_username }}">{% include svg/twitter.svg %}</a>
<a id="github-link" class="icon" title="Linkedin  {{ site.author.name }}" aria-label="Linkedin {{ site.author.name }}" 
	href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}">{% include svg/linkedin.svg %}</a>